services:
  app:
    build:
      context: .
      dockerfile: ./Dockerfile
    container_name: classconnect_frontend
    network_mode: "host"
    restart: unless-stopped
    env_file:
      - ./.env  # Make sure the path is correct
